In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
# !pip install pandas-profiling
# import pandas_profiling as pdp

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression, LassoCV, Lasso
from sklearn.metrics import (confusion_matrix, classification_report, plot_roc_curve, roc_auc_score, 
accuracy_score, precision_score, recall_score, f1_score, auc, precision_recall_curve, average_precision_score)

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, GradientBoostingClassifier, AdaBoostClassifier

from sklearn.svm import SVC

!pip install xgboost
import xgboost as xgb
from xgboost import XGBClassifier

#!pip install imblearn
import imblearn
from imblearn.over_sampling import SMOTE

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

from math import radians, cos, sin, asin, sqrt, atan2

Requirement already satisfied: xgboost in c:\users\leemei\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\users\leemei\anaconda3\lib\site-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in c:\users\leemei\anaconda3\lib\site-packages (from xgboost) (1.5.0)

In [3]:
spray = pd.read_csv('../assets/clean_data/spray_clean(LM).csv')
weather = pd.read_csv('../assets/clean_data/weather_clean(LM).csv')
train = pd.read_csv('../assets/clean_data/train_clean(LM).csv')
test = pd.read_csv('../assets/clean_data/test_clean(LM).csv')
merged = pd.read_csv('../assets/clean_data/mergeddf(LM).csv')
mergedtest = pd.read_csv('../assets/clean_data/mergeddf_test(LM).csv')

In [4]:
mergedtest.head(1)

,id,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,year,month,week,dayofweek,station,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,24,2,1,86.0,61.0,74.0,56.0,64,0.0,9.0,416,1926,,0.0,29.28,29.99,8.9,18,10.0

In [8]:
X = mergedtest.drop(columns=['id','date','address', 'species', 'block', 'street', 'trap', 'addressnumberandstreet', 'year', 'codesum'])

In [12]:
poly = PolynomialFeatures(include_bias=False, degree=2)
X_poly = poly.fit_transform(X)
X_poly.shape

(116293, 275)

In [13]:
ss = StandardScaler()

ss.fit(X_poly) 

X_poly_ss = ss.transform(X_poly)

In [6]:
with open ('model_pickle', 'rb') as f:
    mp = pickle.load(f)

In [14]:
test_prediction = mp.predict(X_poly_ss)

In [18]:
submit_data = pd.DataFrame(mergedtest['id'])
submit_data['wnvpresent'] = test_prediction

In [19]:
submit_data.head()

   id  wnvpresent
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0

In [22]:
submit_data.to_csv('../assets/kaggletest.csv', index=False)