In [16]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import joblib

from sklearn.neighbors import KernelDensity

from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, plot_confusion_matrix, plot_roc_curve, roc_auc_score, f1_score, accuracy_score, auc, precision_recall_curve

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

from imblearn.over_sampling import SMOTE

# ref: https://machinelearningmastery.com/types-of-classification-in-machine-learning/ 

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

### Cost benefit analysis

**Overview**

In this [study](https://www.sciencedaily.com/releases/2014/02/140210184713.htm), we understand that:
- for a period of 14 years since the virus was first detected in New York, the WNV disease has cost a cumulative \\$778 million in health care expenditures and lost productivity (i.e. cost of approx. \\$56 million per year)
- Although there is a likelihood of underestimation, over 37,000 WNV cases have been report in these 14 years (i.e. on average more than 2,600 cases per year) 
- On average, without taking into account inflation, cost (both medical and lost in productivity) per WNV case amount to approximately \\$21,000
    
If budget permits, it will be ideal to deploy mosquito control measures in the whole of Chicago daily throughout the year. However, we are aware that this method is not ideal in view of the cost involved. Even if budget is available, there will be a huge opportunity cost for not being able to set aside public funds for other use.  

**Cost**

On average, without taking into factors such as bulk discount, mosquito spray will cost \\$500 for every half acre per each time [(source)](https://www.fixr.com/costs/mosquito-control) or \\$182,500 for every half acre daily for the entire year. 

Having said that, it is not necessary to incur such expenses because of the opportunity cost involved. Besides, even though WNV can cause disease in humans, to-date, there is no evidence of WNV transmission from person to person [(source)](https://www.medicinenet.com/west_nile_encephalitis/article.htm).

Hence, predictive modelling can be useful to guide decision makers when it comes to deploying mosquito control measures.

**Benefit**

By utilising the model developed, we predicted the following occurences:


|Year       | Total locations  | Number of WNV cases predicted|Percentage of cases|
|---------------|--------------|---|--|
| 2008 |  30,498  | 3,806|13%|
| 2010 |  36,557  | 4,408|12%|
| 2012 |  27,115  | 4,866|18%|
| 2014 |  22,123  | 4,050|18%|

Overall, based on simple average, among all locations, WNV is likely to be present in 15\% of the locations per year. So instead of costing \\$182,500 for every half acre per year, it will only cost us 15\% of that amount, i.e. $27,375. The remaining 85\% of the budget can be freed up for other critical use.

In [5]:
final = pd.read_csv('../assets/clean_data/final_test.csv')

In [25]:
# final['year']

In [26]:
# final.head(1)

In [ ]:
# mos_wnv = merged[['species', 'nummosquitos', 'wnvpresent']].groupby(by='species').sum().reset_index()
# print(mos_wnv)

In [23]:
final[['year','wnvpresent']].groupby(by = 'year').sum()

      wnvpresent
year
2008        3806
2010        4408
2012        4866
2014        4050

In [24]:
final[['year','wnvpresent']].groupby(by = 'year').count()

      wnvpresent
year
2008       30498
2010       36557
2012       27115
2014       22123